* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(rgb(27, 0, 24), rgb(18, 0, 41));
    height: 100vh;
    font-family: system-ui;
}

a {
    text-decoration: none;
    color: white;
}

header {
    position: absolute;
    width: 95%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    flex-wrap: wrap;
    position: fixed;
}

header .logo {
    font-size: 30px;
    text-transform: uppercase;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

header ul li {
    margin-left: 20px;
}

header ul li a {
    padding: 6px 15px;
    transition: 0.2s;
    border-radius: 20px;
    font-weight: 600;
}

header ul li a:hover , .active {
    background: white;
    color: rgb(27, 0, 24);
}

.main {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-repeat: no-repeat;
}

.main::after{
    content: "";
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(to top,rgb(27, 0, 24), transparent);
}

.main img {
    position: absolute;
    width: 100%;
    height: 110vh;
    object-fit: cover;
}

#moon {
    mix-blend-mode: screen;
    transform: translateY(80px);
}

.nouvil {
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    transform: translateY(-140px);
}

.content {
    color: white;
    padding: 40px;
    background-repeat: no-repeat;
}

.content h2 {
    margin: 20px;
    font-size: 30px;
}

.content p {
    margin: 20px;
}

@media (max-width: 1020px) {
    header .logo{
        font-size: 20px;
    }

    header ul li {
        margin-left: 3px;
    }

    header ul li a {
        font-size: 12px;
        padding: 3px 7px;
    }

    .main img {
        width: 100%;
        height: 100vh;
        margin-top: 0px;
    }
}
